**/.vscode/**/*
**/node_modules/**/*
**/.cache/**/*
**/public/**/*
**/static/**/*
**/fonts/**/*
**/images/**/*

tsconfig.json
README.md
**/.*
**/*.d.ts

apis/*
models/*
index.ts
src/data/*

.next

package.json
package-lock.json
